#menu_control{
    position: absolute;
    opacity: 0;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #09fb;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 1000;
}
.logo img{
    vertical-align: top;
    width: 160px;
}
nav{
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #09fb;
    position: absolute;
    top: 50px;
    left: -100%;
    transition: .5s;
    z-index: 1000;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    transition: .3s;
}
.main-nav a:hover{
    color: #f3c321;
}
.active-page{
    background-color: #fff;
    color: #09fb;
}
.language li a:hover{
    position: relative;
    left: -3px;
    background-color: #09fb;
    color: #fff;
}
/*手機專用*/
@media screen and (max-width: 767px){
    .menu_btn{
        width: 40px;
        height: 40px;
        background-color: transparent;
        display: flex;
        align-items: center;
        order: -1;
        display: block;
        position: relative;
    }
    .logo{
        margin-top: -10px;
        text-align: center;
    }
    .logo a{
        display: block;
        height: 40px;
    }
    .menu_btn::before,
    .menu_btn::after{
        content: '';
        position: absolute;
        width: 80%;
        height: 4px;
        background-color: #fff;
        right: 0;
        left: 0;
        margin: auto;
        transform: rotate(0deg);
    }
    .menu_btn::before{
        top: 5px;
        box-shadow: 0px 13px 0px #fff;
        transition: box-shadow .3s .6s,
                    top        .3s .3s,
                    transform  .3s 0s;
    }
    .menu_btn::after{
        bottom: 5px;
        transition: bottom     .3s .3s,
                    transform  .3s 0s;
    }
    #menu_control:checked ~ .header .menu_btn:before{
        top: 18px;
        box-shadow: 0px 13px 0px #ff00;
        transform: rotate(45deg);
        transition: box-shadow .3s 0s,
                    top        .3s .3s,
                    transform  .3s .6s;
    }
    #menu_control:checked ~ .header .menu_btn:after{
        bottom: 18px;
        transform: rotate(-45deg);
        transition: bottom     .3s .3s,
                    transform  .3s .6s;
    }
    .main-nav{
        /*display: none;*/
        position: absolute;
        width: 100%;
        top: 100%;
        left: -100%;
        opacity: 0;
        background-color: #09fb;
        transition: opacity 1s, left 0s .9s;
        justify-content: space-between;
        height: auto;
    }
    nav a{
        border-bottom: 1px solid #fff;
    }
    #menu_control:checked ~ .header .main-nav{
        left: 0;
        opacity: 1;
        transition: 1s;
    }
}
ul.drop_down_menu {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 2px;
}
ul.drop_down_menu li {
    position: relative;
    white-space: nowrap;
    padding: 10px 26px;
}
ul.drop_down_menu>li:last-child {
    border-right: none;
}
ul.drop_down_menu a {
    color: #fff;
    display: block;
    text-decoration: none;
    line-height: 40px;
    position: relative;
    box-sizing: border-box;
}
ul.drop_down_menu a::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 11px;
    margin-top: 15px;
    background-image: url(../image/curved-line.svg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: 17px 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
ul.drop_down_menu ul li {
    width: 100%;
    padding: 3px;
}
ul.drop_down_menu ul li:last-child {
    border-bottom: none;
}
.language_li {
    background-image: url(pic/language.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 35px;
    min-width: 35px;
    top: -32px;
    right: 20px;
    padding: 21px 0;
    color: #fff;
    font-family:'Noto Sans TC', sans-serif;
}
.language_li p{
    display: none;
}
.language {
    position: absolute;
    z-index: 1000;
    top: 100%;
    right: -5px;
    display: none;
    opacity: 0;
    min-width: 100px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    background: #fff;
    border-radius: 12px;
    text-align: center;
}
ul.language a {
    font-size: 16px;
    color: #2196f3;
}
.language_li:hover .language {
    display: block;
    opacity: 1;
    border: 4px solid #66d1fc;
}
.language_li:focus .language {
    display: block;
    opacity: 1;
    border: 4px solid #66d1fc;
}
.language_li:active .language {
    display: block;
    opacity: 1;
    border: 4px solid #66d1fc;
}
.buy_ticket .big_img{
    display: none;
}
.buy_ticket {
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 50px;
}
.buy_ticket img {
    opacity: .8;
    width: 100px;
}
.buy_ticket img:hover{
    opacity: 1;
}
.bottom {
    background-image: linear-gradient(to bottom, #66d1fc, #3ac1ff, #00afff, #009cff, #3586ff);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 300px;
}
.bottom-white {
    background:#8CDDFD;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 300px;
}
footer {
    position: relative;
    width: 100%;
    background-color: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .botMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .botMenu li {
    list-style: none;
}
#top{
    margin: 0 10px;
    transition: .5s;
}
#top img{
    cursor: pointer;
    width: 50px;
    opacity: .8;
}
#top:hover{
    transform: translateY(-10px);
}
#theDiv{
    color: rgba(255, 255, 255, 0.8);
}
footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}
footer .social_icon li a:hover {
    transform: translateY(-10px);
}
footer .botMenu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    font-family:'Noto Sans TC', sans-serif;
    font-size: 20px;
}
footer .botMenu li a:hover {
    opacity: 1;
}
footer .botMenu li a.active-botpage{
        color: #f3c321;
}    
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-family:'Noto Sans TC', sans-serif;
}
footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(pic/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1 {
    z-index: 999;
    opacity: 1;
    bottom: 0;
    animation: animateWave 7s linear infinite;
}
footer .wave#wave2 {
    z-index: 998;
    opacity: .5;
    bottom: 10px;
    animation: animateWave_02 17s linear infinite;
}
footer .wave#wave3 {
    z-index: 999;
    opacity: .3;
    bottom: 15px;
    animation: animateWave 11s linear infinite;
}
footer .wave#wave4 {
    z-index: 998;
    opacity: .7;
    bottom: 20px;
    animation: animateWave_02 13s linear infinite;
}
@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@media screen and (min-width:768px){
    body{
        min-width: 807px;
    }
    .menu_btn{display: none;}
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fa-chevron-circle-right{
        display: none;
    }
    .logo{
        text-align: start;
        padding-left: 10px;
        margin-top: -9px;
    }
    nav{
        position: relative;
        left: 0;
        display: flex;
        width: auto;
        height: auto;
        top: 0;
        background-color: transparent;
        margin-left: auto;
    }
    nav a{
        border-bottom: none;
    }
    .language_li {
        background-size: 20px;
        min-width: 60px;
        top: -10px;
        padding: 0px 0 0px 26px;
        /* position: relative; */
        height: 30px;
        line-height: 30px;
    }
    .language_li p{
        display: inline-block;
        /* position: absolute; */
        top: 1px;
    }
    .language {
        position: absolute;
        z-index: 1000;
        top: 100%;
        left: -5px;
        display: none;
        opacity: 0;
        min-width: 100px;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        background: #fff;
        border-radius: 12px;
        text-align: center;
    }
    .buy_ticket img {
        display: none;
    }
    .buy_ticket .big_img{
        display: block;
    }
}
