.p-home-body-mid {
    background-color: #66d1fc;
    padding: 140px 0 225px;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid {
        padding: 90px 0;
   }
}
.p-home-body-mid-content {
    display: flex;
    justify-content: space-between;
}
.p-home-body-mid-content.p-home-body-mid-content--reverse {
    flex-direction: row-reverse;
}

/* 阿勇的rwd從20-33 */
@media screen and (max-width: 768px) {
    .p-home-body-mid-content {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
   }
   .p-home-body-mid-content.p-home-body-mid-content--reverse{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
   }
}
.p-home-body-mid-text {
    width: 480px;
    padding-left: 7px;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-text {
        width: 100%;
        padding-left: 0;
   }
}
.p-home-body-mid-head__ja {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-head__ja {
        font-size: 1.2rem;
   }
}
.p-home-body-mid-head__en {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 10px;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-head__en {
        font-size: 0.8rem;
        margin-top: 5px;
   }
}
.p-home-body-mid-body {
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-body {
        font-weight: normal;
   }
}
.p-home-body-mid-more {
    margin-top: 60px;
    margin-left: -7px;
}
.p-home-body-mid-more .c-button-round-white + .c-button-round-white {
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-more {
        margin-top: 30px;
        margin-left: 0;
        text-align: center;
   }
    .p-home-body-mid-more .c-button-round-white + .c-button-round-white {
        margin-top: 20px;
   }
}
.p-home-body-mid-image {
    width: 500px;
    position: relative;
}
.p-home-body-mid-image::before, .p-home-body-mid-image::after {
    content: "";
    display: block;
    width: 540px;
    height: 540px;
    border-radius: 50%;
    border: 80px solid rgba(255, 255, 255, .25);
    position: absolute;
    z-index: 0;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-image {
        width: 224px;
        margin: 0 auto;
   }
    .p-home-body-mid-image::before {
        width: 224px;
        height: 224px;
        border-width: 60px;
        left: 0 !important;
        right: 0 !important;
        margin: auto;
   }
    .p-home-body-mid-image::after {
        content: none;
   }
}
.p-home-body-mid-image-item {
    height: auto;
    position: absolute;
    z-index: 1;
}
/*---------- about ----------*/
.p-home-about {
    position: relative;
}
.p-home-about .p-home-body-mid-image::before {
    top: -40px;
    left: 0;
}
.p-home-about .p-home-body-mid-image::after {
    top: 240px;
    left: 516px;
}
@media screen and (max-width: 768px) {
    .p-home-about .p-home-body-mid-image {
        height: 280px;
   }
    .p-home-about .p-home-body-mid-image::before {
        top: 40px;
   }
}
.p-home-body-mid-image-item--about-man {
    width: 356px;
    top: 92px;
    left: 90px;
    animation: FloatVertical1 4s ease-in-out infinite alternate;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-image-item--about-man {
        width: 190px;
        top: 80px;
        left: 15px;
   }
}
.p-home-body-mid-image-item--about-woman {
    width: 347px;
    top: -30px;
    left: 0;
    animation: FloatVertical2 4s 1s ease-in-out infinite alternate;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-image-item--about-woman {
        width: 184px;
        top: 5px;
        left: -22px;
   }
}
/*---------- recycle ----------*/
.p-home-recycle {
    margin-top: 176px;
    position: relative;
}
.p-home-recycle .p-home-body-mid-image::before {
    top: -80px;
    right: 0;
}
.p-home-recycle .p-home-body-mid-image::after {
    top: -360px;
    right: 515px;
}
@media screen and (max-width: 768px) {
    .p-home-recycle {
        margin-top: 60px;
   }
    .p-home-recycle .p-home-body-mid-image {
        height: 250px;
   }
    .p-home-recycle .p-home-body-mid-image::before {
        top: 8px;
   }
}
.p-home-body-mid-image-item--recycle-man {
    width: 216px;
    top: 50px;
    right: 280px;
    animation: FloatVertical1 4s ease-in-out infinite alternate;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-image-item--recycle-man {
        width: 116px;
        top: 40px;
        left: -2px;
        right: auto;
   }
}
.p-home-body-mid-image-item--recycle-earth {
    width: 140px;
    top: 160px;
    right: 200px;
    animation: FloatVertical3 4s ease-in-out infinite alternate;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-image-item--recycle-earth {
        width: 75px;
        top: 100px;
        right: auto;
        left: 75px;
   }
}
.p-home-body-mid-image-item--recycle-woman {
    width: 200px;
    top: 150px;
    right: 45px;
    animation: FloatVertical1 4s ease-in-out infinite alternate;
}
@media screen and (max-width: 768px) {
    .p-home-body-mid-image-item--recycle-woman {
        width: 110px;
        top: 100px;
        right: auto;
        left: 120px;
   }
}
.plants {
    width: 356px;
    top: 192px;
    left: 90px;
    animation: FloatVertical1 4s ease-in-out infinite alternate;
}
@media screen and (max-width: 768px) {
    .plants {
        width: 190px;
        top: 130px;
        left: 15px;
   }
}
.turtle {
    width: 330px;
    top: 92px;
    left: 100px;
    animation: FloatVertical2 4s ease-in-out infinite alternate;
}
@media screen and (max-width: 768px) {
    .turtle {
        width: 190px;
        top: 80px;
        left: 15px;
   }
}
.ball {
    width: 56px;
    top: 100px;
    right: 400px;
    animation: FloatVertical2 4s ease-in-out infinite alternate;
}
@media screen and (max-width: 768px) {
    .ball {
        width: 30px;
        top: 60px;
        left: 15px;
   }
}
.shell {
    width: 80px;
    top: 270px;
    right: 150px;
    animation: FloatVertical3 4s ease-in-out infinite alternate;
}
@media screen and (max-width: 768px) {
    .shell {
        width: 50px;
        top: 150px;
        left: 130px;
   }
}
.whale {
    width: 356px;
    top: 70px;
    right: 80px;
    animation: FloatVertical1 4s ease-in-out infinite alternate;
}
@media screen and (max-width: 768px) {
    .whale {
        width: 190px;
        top: 60px;
        left: 15px;
   }
}
@keyframes FloatVertical1 {
    0% {
        transform: translate3d(0, 15px, 0);
   }
    50% {
        transform: translate3d(0, -15px, 0);
   }
    100% {
        transform: translate3d(0, 15px, 0);
   }
}
@keyframes FloatVertical2 {
    0% {
        transform: translate3d(0, -15px, 0);
   }
    50% {
        transform: translate3d(0, 15px, 0);
   }
    100% {
        transform: translate3d(0, -15px, 0);
   }
}
@keyframes FloatVertical3 {
    0% {
        transform: translate3d(0, -5px, 0);
   }
    50% {
        transform: translate3d(0, 5px, 0);
   }
    100% {
        transform: translate3d(0, -5px, 0);
   }
}